
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

/* 全域 */
*,*::before,*::after{
    box-sizing: border-box;
    /* outline: blue solid 1px; */

}

body {
  font-family: 'Noto Sans', sans-serif;  /* 字體套用順序從左到右，找不到就往下找  */
  line-height: 1.5; /* 行高可以從字體大小(px)除以行高(px)得到結果；另外實際高度不是由size決定，而是lh決定。 */
  font-size: 24px; /* 按照文中大部分的字體大小來調整 */
  margin: 0 auto;
  padding: 0;
  background-color: #e9aeae;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  overflow-y: auto;
}


#main{
  background-color: #e9aeae;
}

img{
    height: auto;
    max-width: 100%;
    vertical-align: middle; /* 基準線對齊，使圖片垂直置中 */
}

a{
    text-decoration: none;  /* 連結沒有下底線 */
    color: black; /* 也可以設計 color:inherit; 跟隨父層變動*/ 
}

p {
  min-height: 1px;
  min-width: 100%;  
}

h1{
  font-size: 32px;
  font-weight: bolder;
  /* padding-top: 180px; */
  width: 100%;
}

h2{
  font-size: 24px;
  font-weight: bolder;
  text-align:center;
  width: 90%;
  /* padding-top: 20%; */
  line-height: 1.2;
}

.fz36 {
  font-size: 36px;
}

.h1rotate{
  transform: rotate(-2.8deg);
  font-size: 26px;
}
.m0auto{
  margin: 0 auto;
}

.img-home{
  width: 80%;
  float: right;
}

.home-main{
  width: 80%;
  gap:30px
}

.dflex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dflex-row{
  display: flex;
  justify-content: space-between;

}

.jc-top{
  justify-content: flex-start;
}

.jc-sp-ar{
  justify-content: space-around;
}

.jc-sp-bt{
  justify-content: space-between;
}

.padding-LR{
  padding-left: 5%;
  padding-right: 5%;
}

.g30{
  gap:30px;
}

.g10{
  gap:10px;
}

.w-100{
  width: 100%;
}

.w-90{
  width: 90%;
}

.w-80{
  width: 80%;
}

.w-60{
  width: 60%;
}

.h-20px{
  height: 20px;
}

.w-10{
  width: 10%;
}

.text-center{
  text-align: center;
}

.window {
  height: 100vh;
  max-width: 100%;
}

.bg0 {
  background-image: url(img/bg0.png);
}

.bg1 {
  background-image: url(img/bg1.png);
}

.bg{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center; /* 背景圖片居中 */
}

.of-hidden{
  overflow: hidden;
}

.top-logo {
  width: 20%;
}

.q-img{
  width: 40%;
}

.bt-logo{
  width: 30%;
}

.logo-pd-top{
  padding-top: 5%;
}

.result-img{
  width: 90%;
}


button {
  padding: 10px 0px;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: #f9f4f1;
  color: #1c1c28;
}

button:hover {
  background-color: #f9f4f1;
}

.question {
  display: none;
}
.question.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: stretch;
  align-items: center;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.answers {
  margin-top: 15px;
  width: 90%;
}
.answers button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.answers button:hover {
  background-color: #0056b3;
}
.result {
  display: none;
  text-align: center;
  max-width: 100%;

}
.result.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.nav-buttons {
  margin-top: 10px;
}
.nav-buttons button {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}
.nav-buttons button:hover {
  background-color: #5a6268;
}

@media (max-width: 1025px) {

  .top-logo{
    width: 30%;
  }

  .logo-pd-bt{
    padding-bottom: 5%;
  }

  .question.active {
    width: 60%;
  }

  .result.active {
    width: 75%;
  }

  .logo-sz{
    width: 60%;
  }
  .answers button {
    font-size: 16px;
  }

  .bg{
    background-size: contain ;
  }

  .window{
    max-width: 70%;
  }
  .q-img{
    width: 50%;
  }

  .result-img{
    width: 100%;
  }

}

@media (max-width: 800px) {
    .bg{
      background-size: cover;
      max-width: 100%;
    }

    .question.active{
      width: 100%;
    }

    .bt-logo{
      width: 60%;
    }

    .top-logo{
      width: 40%;
    }

    .result.active {
      width: 100%;
    }
}


@media (max-height: 700px) {
  h2{
    width: 100%;
    font-size: 20px;
  }
  .q-img{
    width: 35%;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  .answers button {
    font-size: 14px;
    font-weight: bold;
  }

  .bg{ 
    overflow: hidden;
  }

  button{
    font-size: 14px;
  }
  .home-main{
    width: 100%;
  }

  .img-home{
    width: 100%;
  }
}